<div class="main-box gws-attendance">
  <div class="portlet-title">
    <%= @portlet.name %>
    <%= "設定エラー" %>
  </div>
  <div>
    ユーザー:
    <%= @cur_user.long_name %>
    に出勤簿設定がありません。
  </div>
</div>
